appdirs==1.4.4
asgiref==3.5.1
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2021.10.8
chardet==3.0.4
charset-normalizer==2.0.12
compressed-rtf==1.0.6
cssselect==1.1.0
Django
ebcdic==1.1.1
extract-msg==0.28.7
fake-useragent==0.1.11
idna==3.3
importlib-metadata==4.11.3
lxml==4.8.0
olefile==0.46
parse==1.19.0
pdfminer.six==20191110
Pillow
pycryptodome==3.14.1
pyee==8.2.2
pyppeteer==1.0.2
pyquery==1.4.3
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
requests-html==0.10.0
six
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SpeechRecognition==3.8.1
sqlparse==0.4.2
tika==1.24
tqdm==4.64.0
tzdata==2022.1
tzlocal==4.2
urllib3==1.26.9
w3lib==1.22.0
websockets==10.3
zipp==3.8.0
